body {
	background-color: grey;
}

h1 {
	color: black;
	text-align: center;
	font-family: verdana;
}

h3 {
	color: black;
	text-align: center;
	font-family: verdana;
}

p {
	color: black;
	font-family: verdana;
	font-size: 20px;
	text-align: center;
}

#codices {
        border: 2px solid blue;
	border-radius: 5px;
}
