body {
	background-image: url("https://i.imgur.com/yP9v8Wf.png");
}

h1 {
	color: black;
	text-align: center;
	font-family: verdana;
}

h3 {
	color: black;
	text-align: center;
	font-family: verdana;
}

p {
	color: black;
	font-family: verdana;
	font-size: 20px;
	text-align: center;
}
